body{
    background-image: linear-gradient(aqua, white);
    background-repeat: no-repeat;         
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(202, 217, 206);
    color:darkblue;
  }
  
  .footer {
    position: fixed;
    left: 5;
    bottom: 0;
    width: 100%;
    background-color: rgb(4, 4, 4);
    color: white; 
    padding-left: 10px;   
  }
  
  
  
  